<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">

        <div class="ui inverted section divider"></div>
        <h2 class="ui grey header">Painel NodeMCU</h2>
        <p>Sistema de gerenciamento de sensores para NodeMCU utilizando Node.JS.</p>
        <p>v 0.1.</p>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" target="_blank" href="https://github.com/lucsoliveira/Painel-NodeMCU-e-Node.JS">GitHub</a>
            <a class="item" target="_blank" href="https://www.linkedin.com/in/engenheiro-lucas-oliveira/">LinkedIn</a>
        </div>

    </div>

</div>