<div class="ui fixed inverted menu">
    <div class="ui container">

        <a href="#" class="header item">
            NodeMCU
        </a>

        <a href="#" class="item">Home</a>

    </div>
</div>